#homeJumbotron {
  background-size:cover;
}

#contactInfo {
  text-align:center;
}

#menu {
  text-align:center;
}

#contactUsForm {
  text-align:center;
  max-width:400px;
  margin:0 auto;
}

#additionalInfoForm {
  word-wrap:normal;
}

#drinkMenu {
  max-width:400px;
  margin:0 auto;
}

#homeLink, #menuLink, #contactUsLink {
  background-color:rgba(255,0,0,0.59);
  border:none;
  color:black;
  padding:10px 20px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  margin:4px 2px;
  cursor:pointer;
  border-radius:16px;
}

.navbar {
  font-size:18px;
  font-family:"News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight:700;
}

footer {
  padding:10px;
}

a:visited {
  color:green;
}

a:hover {
  font-weight:800;
}

